 
  .field {
    width: 80%;
    margin-bottom: 12px;
   
    
    min-height: 800px;
    background-color: antiquewhite;
     margin: auto;
    margin-top: 20px;
  }
  h1{
    text-align: center;
    background-color: burlywood;
    padding: 15px;
    
  }
  p {
    padding: 15px;
  }